<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增岗位')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-cxdata-add">
			<input id="symbolId" name="symbolId" type="hidden" th:value="${symbolId}"/>
			<div class="form-group">
				<label class="col-sm-3 control-label">资料内容：</label>
				<div class="col-sm-8">
					<textarea maxlength="100" rows="4" cols="50" id="content" name="content" class="form-control"></textarea>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "coin/cx";

		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/add", $('#form-cxdata-add').serialize());
	        }
	    }
	</script>
</body>
</html>
